<div class="row">
  <div class="col-auto">
    <h1>Your Dashboard</h1>
  </div>
</div>

<div class="row mt-4">
  {{#if blogs.length}}
  <div class="col-md-10 blog-list">
    {{!-- <h3>Current Blogs:</h3> --}}

    {{#each blogs as |blog|}}
    <div class="row mb-4">
      <div class="col-md-8">
        <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
      </div>
      <div class="col-md-2">
          {{format_date blog.date_posted}}
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<div class="col-md-4">
  <a href="/create" class="btn btn-primary">New Post</a>
</div>